<!-- MAIN FOOTER -->
<footer id="main-footer" class="grid">
                <p>Todd Brannon</p>
                <p>Copyright &copy; 2021</p>
                <!--<p><a href="#">Privacy Policy</a>  ||  <a href="#">Terms of Use</a></p>-->
                <!--<p>Site by <a href="http://toddbrannon.com" target="_blank">Todd Brannon for TruSponse</a></p>-->

</footer>


<!--<p>This is the footer!</p>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--Lightbox script-->
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
</script>

<script>
    Amplitude.init({
      "songs": [
        {
          "name": "Heart of Mine",
          "artist": "Todd Brannon",
          "album": "The Demo Value (2001 - 2008)",
          "url": "/songs/Heart of Mine.mp3",
          "cover_art_url": "
        }
      ]
    });
  </script>

<!-- HIGHLIGHT JS for code snippets and syntax highlighting -->
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.17.1/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<!-- SCRIPTS -->
<script src="/js/jquery.js"></script>
<script src="/js/main.js"></script>
<!--<script src="js/carousel.js"></script>-->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.0.3/dist/amplitude.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.10.1.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>



</body>

</html>