<% include partials/header %>

<main>
<div class="about-section">
    <h1>About Me</h1>
    <div class="row">
      <div class="col-ex-lg-6 about-intro">
        <br><br><p>
          From a 16 year career as a tech in the operating room of three different hospitals, to a decade of working for three different healthcare organizations in supply chain and sourcing, I have found my way as a programmer and developer. 
          It was a scenic route to where I am today, but after much personal development, many online courses and a few successful freelance side-gigs, the future is bright. It all started when I discovered the possibilities with Excel VBA about 10 years ago. 
        </p>  
      </div>
      <div class="col-lg-6 about-dash1 work-gallery">
        <a href="/images/Movie Power Bi Dashboard 2.png" class="d-block mb-4 h-100" data-toggle="lightbox">
          <img class="img-fluid img-thumbnail" src="/images/Movie Power Bi Dashboard 2.png" alt="">
      </a>
      <!-- <a href="/images/Movie Power Bi Dashboard 2.png" data-lightbox="work-gallery">
        <br><img src="/images/Movie Power Bi Dashboard 2.png" class="img-fluid"><br><br><br>
      </a> -->
      </div>

      <div class="col-lg-6 about-dash2">
        <img src="/images/ClinicalSourcingDash.png" class="img-fluid"><br><br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <!--<br><br><p>
          My first exposure to Excel macros was life changing on two counts. First, because it eliminated the need for this copy/paste report update method
          I was trained to use and fully automated the process. Second, it was the first time I realized what was possible with a few lines of code 
          and the possibilities looking ahead. 
        </p><br>-->
      </div>
      
      
      <div class="col-ex-lg-6">
        <br><p>
          Over the next few years, I would learn VBA and Python 
          development skills focused on eliminating non-value added manual steps for ongoing reporting and ETL processes. This development work would 
          often and notably reduce the cycle-times necessary for these processes from days to minutes and even seconds in some cases.
        </p><br><br>
      </div>
    </div>
  <!-- <div class="row">
    <div class="col-lg-12">
      <div class="wrapper">
        <div class="acc-list">
          <ul>
            <li>Microsoft Excel, Access, and Power BI</li><br>
            <li>MySQL, SQL Server, MongoDB, PostgreSQL</li><br>
            <li>HTML & CSS</li><br>
            <li>JavaScript, Python & VBA</li>     
          </ul>
        </div>
      </div>
    </div>
  </div> 
    
    <br><br> -->
<div class="row automation-section">
  
  <div class="col-md-12 about-image">
    <img src="/images/TSTVE GIF.gif" class="img-fluid gif-img"><br><br><br>
  </div>
</div>
<!-- <div class="row">
  <div class="col-lg-12">
    <div class="wrapper">
      <div class="acc-list">
        <ul>
          <li>Novation (Vizient)</li>
          <br>
          <li>HealthTrust PG (HCA)</li>
          <br>
          <li>Willrich Precision Instrument</li>
          <br>
          <li>UT Southwestern Medical Center</li>
          <br>
          <li>AutoNation</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="col-lg-12">
    <p>
      It’s amazing to think back to 2009 when I left the clinical world for my first ever 
      analyst role that I barely knew how to use Outlook, much less Excel or Access. Today, I develop full stack applications, reporting and tools in Microsoft Excel, database applications in Microsoft Access, and innovative reports and dashboards in Microsoft Power BI.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 about-img-sw">
    <img src="/images/SW Savings Manager Main.png" class="img-fluid about-img-sw">
  </div>
</div>
<div class="row">
  <div class="col-lg-12 about-img-sw-3">
    <img src="/images/SW Svg Mgr facility table form.png" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      If you or your business is in need of a solution, I would love to work with you whether you have your requirements fully mapped out or need 
      the input and feedback of a consultant to help you with your strategy.
      Feel free to <a href="/contact" target="_blank">drop me a message to request more info or ask me a 
        question</a>. And check out my work <a href="/work" target="_blank">here</a> and <a href="/portfolio" target="_blank">here</a>.
    </p>
  </div>
</div>

</div>  
</div>  
</main>
  
    

    <script>
      (function(){
        var menu = document.querySelector('ul'),
          menulink = document.querySelector('img');
          menulink.addEventListener('click', function(e){
            menu.classList.toggle('active');
            e.preventDefault();
          });
      })();
    </script>

  </body>
</html>

<% include partials/footer %>
