<% include partials/header %>

    <!-- JOIN US QUESTIONNAIRE HEAD -->

    <section id="contact-success" class="bg-light text-muted py-5">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="py-5">
                        <h1 class="display-4">Your message has been sent!</h1>
                        <p class="lead">Thanks for reaching out. I will respond as soon as possible.
                        </p>
                        <a href="/" class="btn cta">Back to Main</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <% include partials/footer %>