<% include partials/header %>

<main>
<!-- BEGIN ORDERSPONSE APP SECTION -->
<div class="portfolio-head-tstve" style="text-align: center;">

  <h3 class="trusponse-os-head">An order management application</h3>
      <!-- ORDERSPONSE APP DEVICES - FIRST ROW -->
      <div class="row trusponse-tve-smartphones">
        <div class="col-md-12" class="mockup-img">
          <img src="/images/mbp-ordersponse.png" class="img-fluid tstve1">
        </div>
      </div>
      <!-- TRUSPONSE FOR TVE APP DEVICES - END FIRST ROW -->

      <!-- TRUSPONSE FOR TVE APP DEVICES - SECOND ROW FOR VIDEO MODAL BUTTON -->

      <div class="row web-dev-row-trusponse-tve">
        <div class="col-md-12">
          <button id="modalBtn" class="button cta cta-vid">Watch Video</button>
          <!-- VIDEO MODAL -->
          <div id="simpleModal" class="vid-modal">
            <div class="vid-modal-content" id="yt-player">
              <span class="closeBtn">&times;</span>
              <iframe width="100%" height="90%" src="https://www.youtube.com/embed/RCV1P5aaYFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <!-- END MODAL -->
        </div>
      </div>    

</div>

  <!-- END ORDERSPONSE APP SECTION -->
 

<!-- BEGIN GEOSPONSE APP SECTION -->
<div class="portfolio-head-geo" style="text-align: center;">

  <h3 class="trusponse-geo-head">A web app using the Google maps and geolocation APIs</h3>
      <!-- GEOSPONSE APP DEVICES - FIRST ROW -->
      <div class="row trusponse-geo-device">
        <div class="col-md-12" class="mockup-img">
          <img src="/images/mbp-geosponse.png" class="img-fluid tstve1">
        </div>
      </div>
      <!-- GEOSPONSE APP DEVICES - END FIRST ROW -->

      <!-- GEOSPONSE APP DEVICES - SECOND ROW FOR VIDEO MODAL BUTTON -->
      <div class="row web-dev-row-trusponse-tve">
        <div class="col-md-12">
          <button id="modalBtn2" class="button cta cta-vid">Watch Video</button>
          <!-- VIDEO MODAL -->
          <div id="simpleModal2" class="vid-modal">
            <div class="vid-modal-content" id="yt-player">
              <span class="closeBtn2">&times;</span>
              <iframe width="100%" height="90%" src="https://www.youtube.com/embed/UcVDT7e2fWY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <!-- END MODAL -->
        </div>
      </div>    
    </div>    
</div>

<!-- END GEOSPONSE APP SECTION -->

<!-- BEGIN FEEDBACK APP SECTION -->
<div class="portfolio-head-tstve" style="text-align: center;">

  <h3 class="trusponse-os-head">An online customer feedback questionnaire</h3>
      <!-- ORDERSPONSE APP DEVICES - FIRST ROW -->
      <div class="row trusponse-tve-smartphones">
        <div class="col-md-12" class="mockup-img">
          <img src="/images/mbp-feedback.png" class="img-fluid tstve1">
        </div>
      </div>
      <!-- TRUSPONSE FOR TVE APP DEVICES - END FIRST ROW -->

      <!-- TRUSPONSE FOR TVE APP DEVICES - SECOND ROW FOR VIDEO MODAL BUTTON -->
      <div class="row web-dev-row-trusponse-tve">
        <div class="col-md-12">
          <button id="modalBtn3" class="button cta cta-vid">Watch Video</button>
          <!-- VIDEO MODAL -->
          <div id="simpleModal3" class="vid-modal">
            <div class="vid-modal-content" id="yt-player">
              <span class="closeBtn3">&times;</span>
              <iframe width="100%" height="90%" src="https://www.youtube.com/embed/l9xVSrTlks0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <!-- END MODAL -->
        </div>
      </div>    
</div>

  <!-- END FEEDBACK APP SECTION -->

<!-- BEGIN TRUSPONSE FOR TVE APP SECTION -->
<div class="portfolio-head-notify" style="text-align: center;">

  <h3 class="trusponse-notify-head">A lead/customer database app</h3>
      <!-- TRUSPONSE FOR TVE APP DEVICES - FIRST ROW -->
      <div class="row trusponse-notify">
        <div class="col-md-12" class="mockup-img">
          <img src="/images/ts for tve macbook pro.png" class="img-fluid tstve1">
        </div>
      </div>
      <!-- TRUSPONSE FOR TVE APP DEVICES - END FIRST ROW -->

      <!-- TRUSPONSE FOR TVE APP DEVICES - SECOND ROW FOR VIDEO MODAL BUTTON -->
      <div class="row web-dev-row-trusponse-tve">
        <div class="col-md-12">
          <button id="modalBtn4" class="button cta cta-vid">Watch Video</button>
          <!-- VIDEO MODAL -->
          <div id="simpleModal4" class="vid-modal">
            <div class="vid-modal-content" id="yt-player">
              <span class="closeBtn4">&times;</span>
              <iframe width="100%" height="90%" src="https://www.youtube.com/embed/5JUM_AGfBi0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <!-- END MODAL -->
        </div>
      </div>    
    </div>

  <!-- END TRUSPONSE FOR TVE APP SECTION -->

  

</div>  
  
    

    <script>
      (function(){
        var menu = document.querySelector('ul'),
          menulink = document.querySelector('img');
          menulink.addEventListener('click', function(e){
            menu.classList.toggle('active');
            e.preventDefault();
          });
      })();
    </script>

  </body>
</html>

<% include partials/footer %>