<% include partials/header %>

<main>
  <div class="resume-headline" style="text-align: center; padding-bottom: 1.5em">
      <h1>Resume</h1>
      <p>Accomplished sourcing professional experienced in the various aspects of the RFP/contract bid process as well 
        as the implementation and lifecycle of sourcing contracts. A growing software developer driven to leverage technological 
        and development skillset to innovate processes in pursuit of optimized outcomes and elegant user experience.
      </p>
      <div class="resume-box">
        <div class="title-area">
          <h2>Skills Summary</h2>
        </div>
        <div class="row">
          <div class="col-md-12 ff-points">                     
            <div class="p-3">
              <ul>
                <li>Strong clinical and healthcare product knowledge</li>
                <li>Experienced in leveraging technology and software development skillset to improve business processes to increase effectiveness and efficiency</li>
                <li>A proven project manager and influencer as reflected through successful freelance IT consultant engagements with businesses across multiple disciplines</li>
                <li>A highly skilled communicator and presenter as proven by experience leading live webinar teaching sessions</li>
                <li>Developing a strong object-oriented programming skillset in languages like JavaScript and Python to develop technological solutions to business challenges</li>
                <li>Database development skills with both SQL and No-SQL technologies</li>
                <li>Experienced in a variety of OS ecosystems including Windows, Mac, and Linux</li>
                <li>Strong user of the Windows command-line as well as the Mac and Linux terminal</li>
                <li>Experienced with RESTful API architecture and development</li>
              </ul>
            </div>
            <div class="p-3 align-self-end">
            Mobile first design allowing for use in the field
            </div>                         
          </div>                         
        </div> 
      </div>
      <div class="resume-box">
          <div class="title-area">
            <h2>Professional Experience</h2>
          </div>
          <div class="row">
            <div class="col-md-12 ff-points">                     
              <div class="p-3 align-self-end">
              A CRUD web app to manage a company's retail orders
              </div>
              <div class="p-3 align-self-end">
              Mobile first design allowing for use in the field
              </div>                         
            </div>                         
          </div> 
        </div>  
      <div class="resume-box">
        <div class="title-area">
          <h2>Education</h2>
        </div>
        <div class="row">
          <div class="col-sm-12 ff-points">
            <div class="p-3 align-self-end">
              <h4>Ashford University</h4>
              <p>Clinton, IA</p>
              <p>Bachelor of Arts in Business Economics</p>     
            </div>              
          </div>  
        </div> 
      </div>
    </div>
</main>
</div>
  
    

    <script>
      (function(){
        var menu = document.querySelector('ul'),
          menulink = document.querySelector('img');
          menulink.addEventListener('click', function(e){
            menu.classList.toggle('active');
            e.preventDefault();
          });
      })();
    </script>

  </body>
</html>

<% include partials/footer %>