<% include partials/header %>

<main>
<div class="work-head" style="text-align: center; padding-bottom: 3em">
  <div class="web-dev-headline">
    <h1>Web Development</h1>
  </div>
    <div class="row web-dev-row">
      <div class="col-md-3"></div>
      <div class="col-md-6 live-sites">
        <h2>TruSponse Solutions</h2>
        <img src="/images/TruSponseSolutions.gif" alt="" class="img-fluid developer-img">
        <h4 class="py-4"><a href="https://www.trusponse.com" target="_blank" style="color: blue;">Visit Website</a></h4>
        <hr>
        <h2>Lead Stream Local</h2>
        <img src="/images/LeadStreamLocal.gif" alt="" class="img-fluid developer-img">
        <h4 class="py-4"><a href="https://www.leadstreamlocal.com" target="_blank" style="color: blue;">Visit Website</a></h4>
        <hr>
        <h2>Analyst Factory</h2>
        <img src="/images/AnalystFactory.gif" alt="" class="img-fluid developer-img">
        <h4 class="py-4"><a href="https://www.analystfactory.com" target="_blank" style="color: blue;">Visit Website</a></h4>
        <!-- <ul>
          <li><a href="https://nexrev-mockups.herokuapp.com/" target="_blank">NexRev site redesign bid</a></li>
          <li><a href="https://theaccidentalexcelist.herokuapp.com/index.html" target="_blank">The Accidental Excelist</a></li>
          <li><a href="http://mydaughtersaidwhat.com" target="_blank">My Daughter Said What?</a></li>
          <li><a href="https://modern-portfolio-2018.herokuapp.com/index.html" target="_blank">ToddBrannon.com (old version)</a></li>
        </ul> -->
      </div>
      <div class="col-md-3"><p></p></div>
    </div>

</div>  
  <div class="work-head" style="text-align: center; padding-bottom: 1.5em">
    <h1>Web Apps</h1>
  
            <div class="project-1">
                    <div class="title-area">
                            <h2>OrderSponse: An order management app</h2>
                        </div>
                        <div class="row">
                            
                            <div class="col-lg-5 ff-points">                     
                                  <div class="p-1 align-self-end">
                                    <p>A CRUD web app to manage a company's retail orders</p>
                                  </div>
                                  <div class="p-1 align-self-end">
                                    <p>Mobile first design allowing for use in the field</p> 
                                  </div>                         
                            </div>
                            <div class="col-lg-7 vid-frame">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/mBsO4Kbj4Sc"
                                    allowfullscreen="allowfullscreen"
                                    mozallowfullscreen="mozallowfullscreen" 
                                    msallowfullscreen="msallowfullscreen" 
                                    oallowfullscreen="oallowfullscreen" 
                                    webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                </div>
                            </div>  
                            
                          </div> 
            </div>
          
            <div class="project-2">
                    <div class="title-area">
                            <h2>TruSponse Notify: Lead management</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 vid-frame">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/_sG-TDZhxVY"
                                    allowfullscreen="allowfullscreen"
                                    mozallowfullscreen="mozallowfullscreen" 
                                    msallowfullscreen="msallowfullscreen" 
                                    oallowfullscreen="oallowfullscreen" 
                                    webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                </div>
                            </div>  
                          <div class="col-lg-5 ff-points">
                                <div class="p-1 align-self-end">
                                    <p>A CRUD web app to manage leads from the contact form of a website</p> 
                                </div>
                                <div class="p-1 align-self-end">
                                    <p>Email messaging capability within the app</p>
                                </div> 
                          </div>
                          
                        </div> 
            </div>
          </div>
<div class="work-head" style="text-align: center; padding-bottom: 1.5em">

  <h1>Python</h1>  
  <div class="project-5">
          <div class="title-area">
                  <h2>Python: Getting Data from One Excel File to Create Another using Pandas</h2>
              </div>
              <div class="row">
                <div class="col-lg-5 ff-points">
                  
                      <div class="p-1 align-self-end">
                          <p>Read an Excel file using the Pandas library</p> 
                      </div>
                      <div class="p-1 align-self-end">
                          <p>Create dataframes using Pandas</p>
                      </div>
                      <div class="p-1 align-self-end">
                        <p>Extract only necessary data from the file</p>
                      </div>
                      <div class="p-1 align-self-end">
                        <p>Create new Excel file and insert data</p>
                      </div>
                    </div>
                    <div class="col-lg-7 vid-frame">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/-C1Jk0hIDRs" 
                          allowfullscreen="allowfullscreen"
                          mozallowfullscreen="mozallowfullscreen" 
                          msallowfullscreen="msallowfullscreen" 
                          oallowfullscreen="oallowfullscreen" 
                          webkitallowfullscreen="webkitallowfullscreen"></iframe>
                          
                    </div>
                </div>  
              </div> 
          </div>
      </div>

        <div class="work-head" style="text-align: center; padding-bottom: 1.5em">
          <h1>Microsoft Access</h1>  
            <div class="project-4">
                    <div class="title-area">
                            <h2>Microsoft Access: Enterprise Order Management Database</h2>
                        </div>
                        <div class="row">
                            <div class="col-lg-7 vid-frame">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/izgGnuAPRYs"
                                    allowfullscreen="allowfullscreen"
                                    mozallowfullscreen="mozallowfullscreen" 
                                    msallowfullscreen="msallowfullscreen" 
                                    oallowfullscreen="oallowfullscreen" 
                                    webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                </div>
                            </div>  
                            <div class="col-lg-5 ff-points">
                              
                                  <div class="p-1 align-self-end">
                                      <p>Database application with front end data entry forms</p>
                                  </div>
                                  <div class="p-1 align-self-end">
                                      <p>YouTube tutorial series on how to develop the application start to finish</p>
                                  </div>
                              
                            </div>
                            
                          </div> 

                        </div>
            </div>
            <div class="work-head" style="text-align: center; padding-bottom: 1.5em">
              <h1>Microsoft Excel</h1>  
                  <div class="project-3">
                          <div class="title-area">
                                  <h2>Microsoft Excel: Fitness & Nutrition Form</h2>
                              </div>
                              <div class="row">
                                <div class="col-lg-5 ff-points">
                                  
                                      <div class="p-1 align-self-end">
                                          <p>Form automation using dependent dropdowns and lookups to reduce the need for manual data entry</p>
                                      </div>
                                      <div class="p-1 align-self-end">
                                          <p>Automation to save forms as PDF and send as an email attachment via Outlook or Gmail</p>
                                      </div>
                                  
                                </div>
                                <div class="col-lg-7 vid-frame">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="//www.youtube.com/embed/j0W0XyjrlF4" 
                                          allowfullscreen="allowfullscreen"
                                          mozallowfullscreen="mozallowfullscreen" 
                                          msallowfullscreen="msallowfullscreen" 
                                          oallowfullscreen="oallowfullscreen" 
                                          webkitallowfullscreen="webkitallowfullscreen"></iframe>
                                    </div>
                                </div>  
                              </div> 
                          </div>
                      </div>
      </main>
    </div>
  
    

    <script>
      (function(){
        var menu = document.querySelector('ul'),
          menulink = document.querySelector('img');
          menulink.addEventListener('click', function(e){
            menu.classList.toggle('active');
            e.preventDefault();
          });
      })();
    </script>

  </body>
</html>

<% include partials/footer %>